<%= form_with(model: @cuisine, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :dish_id, value: @dish.id %>

  <%= f.submit "Create cuisine", class: "btn btn-block btn-outline-secondary" %>
<% end %>
